<!DOCTYPE html>
<html>

<head>

    <title>Smart Face Authentication System</title>

    <link rel="stylesheet"
          href="/static/style.css">

</head>

<body>

<div class="container">

    <div class="card">

        <h1>
            Smart Face Authentication System
        </h1>

        <p>
            AI Powered Face Recognition,
            Attendance Tracking and
            Authentication Platform
        </p>

        <div class="button-group">

            <a href="/register">
                <button>
                    Register User
                </button>
            </a>

            <a href="/login">
                <button>
                    Face Login
                </button>
            </a>

            <a href="/attendance">
                <button>
                    Attendance Logs
                </button>
            </a>

        </div>

        <div class="stats">

            <div class="stat-card">
                <h2>Face Recognition</h2>
                <p>Active</p>
            </div>

            <div class="stat-card">
                <h2>Attendance</h2>
                <p>Enabled</p>
            </div>

            <div class="stat-card">
                <h2>Security</h2>
                <p>Running</p>
            </div>

        </div>

    </div>

</div>

</body>

</html>
